[class^='col']{
    flex: 0 0 auto;
    
    
}

header{
    background-color: #1ABC9C;
}



div.header-content{
    border: 2px solid yellow;
    height: 400px;

}

article.portfolio{
    height: 200px;
    margin-bottom: 1rem;
    border: 2px solid red;


}

section#contact-me{
    height: 450px;
    border: 2px solid green;
}

section#location{
    height: 450px;
    border: 2px solid magenta;
}

@media screen and (min-wdth:992px){
    main{
    width: 80%;
    margin: 0 auto;
}

}