[class^='col']{
    flex: 0 0 auto;
    
    
}

header{
    background-color: #1ABC9C;
}



div.header-content{
    border: 2px solid yellow;
    height: 400px;

}

article.portfolio{
    height: 200px;
    margin-bottom: 1rem;
    border: 2px solid red;


}
.my_wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

img{
    height: 350px;
}

.my_custom-bg{
    background-color: #2C3E50;
}

@media screen and (min-wdth:992px){
    main{
    width: 80%;
    margin: 0 auto;
}

}